@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  --primary-color: rgb(75, 17, 102);
  --primary-color-darker: rgb(33, 9, 56);
  --primary-color-cleaner: rgb(191, 82, 241);
  --pausou-tempo: rgb(245, 92, 92);
  --reiniciou-tempo: rgb(81, 205, 243);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

button{
  border-radius: 3px;
  border: none;
  background: var(--primary-color);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  height: 30px;
  width: 150px;
  cursor: pointer;
  margin-top: 30px;
}

ul{
    padding-left: 0;
}

li{
    margin: 5px;
    list-style-type: none;
}

li button{
    width: 75px;
    margin: 0;
    float: right;
}

.container {
  max-width: 640px;
  margin: 50px auto;
  background: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 10px;
}

.input-item-lista{
    height: 30px;
    width: 440px;
    font-size: 18px;
    font-weight: 700;
}
